mat-card {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  z-index:0;
}

fieldset{
  margin-top: 20px;
}

table{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  vertical-align: text-top;
}

td, th{
  vertical-align: text-top;
  text-align: left;
}

td{
  padding-right: 30px;
}

button{
  margin-top: 20px;
}

.info{
  color: green;
}
